<div class="validation">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center align-items-center mt-5">
        <ng-container *ngIf="IsLogged(); else noLogged">
          <div
            class="d-flex validate-form mt-5 px-5 border border-black border-5 rounded-4 flex-column justify-content-center align-items-center"
          >
            <img
              class="my-5"
              src="../../assets/img/form-pokeball.svg"
              height="70px"
              alt=""
            />
            <h4 class="mb-4">Already verified user</h4>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #noLogged>
  <app-validate-form></app-validate-form>
</ng-template>
