<div class="card text-center bg-card">
    <div class="card-body">
        <h1 class="card-title text-light fw-bold pt-5">WELCOME TO ANGULPOKEMON</h1>
        <p class="card-text text-light fs-4 fw-bold pt-5">This is a full RESTful API linked to an extensive database detailing 
            everything about the Pokémon main game series.<br>

            We've covered everything from Pokémon to Berry Flavors.
        </p>
        <div class="pt-2 pb-5 d-flex justify-content-center">
            <a href="#login" class="btn bg-button fw-bold">Join into community</a>
        </div>
</div>