<div class="bg-notfound">
    <div class="">
        <div class="d-flex justify-content-center align-items-center flex-column w-bg-notfound">
            <div class="bg-card rounded-5 p-5 fw-bold">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <p class="text-light fs-1">IM' SO SORRY BUT</p>
                    <img src="https://www.pngmart.com/files/12/Ash-Ketchum-PNG-Photos.png" width="250px"/>
                    <p class="text-light fs-1">THIS PAGE HAS NOT YET BEEN IMPLEMENTED</p>
                </div>
            </div>
        </div>
    </div>
</div>