<div class="card bg-card my-5 py-5 w-100">
    <div class="d-flex align-items-center">
        <div class="bg-light img-container rounded-5">
            <img [src]="img" class="w-100 h-100 rounded-5" alt="not found" />
        </div>
        <div class="card-body">
            <p class="card-text text-light fs-4 fw-bold pt-3">Name: {{ name }}</p>
            <p class="card-text text-light fs-4 fw-bold pt-3">Types: {{ types }}</p>
            <p class="card-text text-light fs-4 fw-bold pt-3">Weight: {{ weight }}</p>
        </div>
    </div>
</div>