<div
  class="card bg-card my-5 py-5 w-100"
  (click)="fun()"
  style="cursor: pointer"
>
  <div class="d-flex align-items-center justify-content-evenly">
    <div class="bg-light img-container rounded-5">
      <img [src]="img" class="w-100 h-100 rounded-5" alt="not found" />
    </div>
    <div class="d-flex">
      <div class="card-body">
        <p class="card-text text-light fs-4 fw-bold pt-3">
          Name: {{ name | titlecase }}
        </p>
        <p class="card-text text-light fs-4 fw-bold pt-3">Types: {{ types }}</p>
        <p class="card-text text-light fs-4 fw-bold pt-3">
          Weight: {{ weight }}
        </p>
      </div>
    </div>
  </div>
</div>
