<div class="bg-notfound">
    <div class="">
        <div class="d-flex justify-content-center align-items-center flex-column w-bg-notfound">
            <div class="bg-card rounded-5 p-5 fw-bold">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <p class="text-light fs-1">ERROR</p>
                    <img src="./../../assets/img/404_IMAGE.svg" width="250px"/>
                    <p class="text-light fs-1">PAGE NOT FOUND</p>
                </div>
            </div>
        </div>
    </div>
</div>