<div class="register">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-center align-items-center mt-5">
          <div
            class="d-flex form-register mt-5 px-5 border border-black border-3 rounded-4 flex-column justify-content-center align-items-center"
          >
            <img
              class="my-4"
              src="../../assets/img/form-pokeball.svg"
              height="70px"
              alt=""
            />
            <h4>REGISTER PAGE</h4>
            <form action=""></form>
          </div>
        </div>
      </div>
    </div>
  </div>
  