.register{
    min-height:100vh;
    background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("https://rare-gallery.com/mocahbig/393412-pokemon-unite-moba-game-pokemon-4k-pc-wallpaper.jpg");
    background-size: cover;
}

.form-register{
    background-color: white;
}