<nav class="navbar navbar-expand-lg bg-warning" style="min-height: 100px">
  <div class="container">
    <img
      routerLink=""
      src="./../../assets/img/poke-angular-logo.svg"
      height="50px"
      style="cursor: pointer"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto" style="line-height: 1">
        <li class="nav-item px-4 py-3">
          <a class="nav-link fs-4 fw-bold" aria-current="page" href="#pokedex"
            >POKEDEX</a
          >
        </li>
        <li class="nav-item px-4 py-3">
          <a class="nav-link fs-4 fw-bold" href="#favorites">FAVORITE</a>
        </li>
        <li class="nav-item px-4 py-3">
          <a class="nav-link fs-4 fw-bold" href="#"
            >HELLO {{ username | uppercase }}</a
          >
        </li>
        <ng-container *ngIf="getStatus(); else noLogged">
          <li class="nav-item px-4 py-3">
            <a type="button" class="btn btn-outline-dark" (click)="exit()"
              >EXIT PUSSY</a
            >
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>

<ng-template #noLogged>
  <li class="nav-item px-4 py-3">
    <a type="button" class="btn btn-outline-dark" routerLink="/register"
      >SIGN UP</a
    >
  </li>
</ng-template>
