<div
  class="d-flex form-login mt-5 px-5 border border-black border-5 rounded-4 flex-column justify-content-center align-items-center mb-5"
>
  <img
    class="my-5"
    src="../../assets/img/form-pokeball.svg"
    height="70px"
    alt=""
  />
  <h4>LOGIN PAGE</h4>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row my-5 flex-column">
      <div class="col-12">
        <div class="text-muted mx-1 mb-2" *ngIf="loginForm.get('email')!.invalid && loginForm.get('email')!.touched">Email Obbligatoria.</div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="emailInput"
            placeholder="name@example.com"
            formControlName="email"
            required
          />
          <label for="emailInput">Email address <span style="color:red">*</span></label>
        </div>
      </div>
      <div class="col-12">
        <div class="text-muted mx-1 mb-2" *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.touched">Password Obbligatoria.</div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="passwordInput"
            placeholder="#"
            formControlName="password"
          />
          <label for="passwordInput">Password <span style="color:red">*</span></label>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-danger" type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </div>
  </form>
</div>
